<div class="book-card">
    <div class="book-card-body">
        <h5>@Book.Title</h5>
        By @Book.Author | @Book.PublicationDate?.ToString("MMMM dd, yyyy")
    </div>
</div>

@code {
    [Parameter]
    public required Book Book { get; set; }
}
